.git
node_modules
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.coverage
data
docs
deploy
tests
frontend/test
*.md
.env
.env.example
custom_ports.json
custom_ports.example.json
docker-compose.yml
ruff.toml
